<div class="cont">
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Fox Hollow<span class="badge">1</span></a></li>
    <li><a href="#!">Thanksgiving points<span class="new badge">1</span></a></li>
    <li><a href="#!">Spanish Oaks</a></li>
  </ul>
  <a class="btn dropdown-trigger" href="#!" data-target="dropdown2">Course<i class="material-icons right">arrow_drop_down</i></a>

  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">one<span class="badge">1</span></a></li>
    <li><a href="#!">two<span class="new badge">1</span></a></li>
    <li><a href="#!">three</a></li>
  </ul>
  <a class="btn dropdown-trigger" href="#!" data-target="dropdown2"><i class="material-icons right">arrow_drop_down</i></a>


</div>


<div class="cont">
  <div class="container">
    <img height="200px" src="https://www.trumpgolf.com/images/dynamic/getImage.gif?ID=100014" aria-placeholder="image here">

    <ul  class=" wide collapsible">
      <li>
        <div (click)="test()" class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>
            <table>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Age</th>
                    <th>score</th>
                    <th>score</th>
                    <th>score</th>
                  </tr>
                  <tr>
                    <td>Jill</td>
                    <td>Smith</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>Eve</td>
                    <td>Jackson</td>
                    <td>94</td>
                    <td>50</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                </table>
          </span></div>
      </li>
    </ul>
  </div>

</div>
